.encabezado{

    background-color: rgb(5, 12, 71);
}

.button {
    background-color: #0019d6; /* Green */
    border: none;
    color: white;
    padding: 1px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
}

.Center{

    width: 800px;
  height: 100px;
  margin: 0 auto;

}
.parrafo {

    background-color: rgb(38, 0, 255);
    
    color: rgb(252, 144, 4);
    text-align: center;
    width: 1245px;
  height: 100px;
    
    }

    .hast {

        background-color: rgb(12, 0, 75);
        
        color: rgb(255, 255, 255);
        text-align: right;
        width: 1245px;
      height: 100px;
        
        }
        .pie {

            background-color: rgb(255, 179, 2);
            
            color: rgb(255, 255, 255);
            text-align: right;
            width: 1245px;
          height: 100px;
            
            }