.encabezado{

    background-color: rgb(1, 13, 123);
}

.button {
    background-color: #001eff; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;  
}

.Center{

    width: 800px;
  height: 100px;
  margin: 0 auto;

}
.parrafo {

    background-color: rgb(67, 36, 243);
    
    color: rgb(252, 235, 4);
    text-align: center;
    width: 1245px;
  height: 100px;
    
    }

    .hast {

        background-color: rgb(20, 0, 117);
        
        color: rgb(0, 0, 0);
        text-align: right;
        width: 1245px;
      height: 100px;
        
        }
        .pie {

            background-color: rgb(255, 255, 2);
            
            color: rgb(0, 0, 0);
            text-align: right;
            width: 1245px;
          height: 100px;
            
            }